useDynLib(lambertReg, .registration=TRUE)
importFrom(Rcpp,evalCpp)
importFrom(stats,coef,predict,setNames)
export(lambert)
export(cv.lambert)
export(lambert_penalty)
export(lambert_threshold)
S3method(coef,lambert)
S3method(coef,cv.lambert)
S3method(predict,lambert)
S3method(predict,cv.lambert)
S3method(print,lambert)
S3method(print,cv.lambert)
S3method(plot,lambert)
S3method(plot,cv.lambert)
